/**
 * Field with the SCSS rules for 
 * the NFL Data plugin.
 *
 * @since      1.0.0
 *
 * @package    nfl_data
 * @subpackage nfl_data/assets/css
 */

/**
 * NFL Data SCSS rules
 *  
 * @since      1.0.0
 * @package    nfl_data
 * @subpackage nfl_data/assets/cs
 * @author     Adan Artola <adanartola@gmail.com>
 */
.nfl-data-main{
    .headers{
        
        padding: 100px 0;

        @media screen and (max-width: $screen-xxl) {
            &{
                padding: 50px 0;
            }
        }

        @media screen and (max-width: $screen-sm) {
            &{
                padding: 30px 0;
            }
        }
    }

    .header{

        font-weight: 900;
        text-align: center;
        &--main{
            @extend .header;
        }

        &--sub{
            @extend .header;
            font-weight: 500;
            color: $gray;
        }

        &--alert{
            @extend .header;
            color: $wine;
        }
        
    }

    /**
    * To manage the table size in mobile sizes
    * I'm using two wrappers the first with 
    * the overflow property set to hidden.
    * And the second with this property set to 
    * Scroll, this is necessary to hide the 
    * overflow from the table and yet be able 
    * to scroll it. 
    */

    .team_list-scroll{
        overflow: hidden;
        max-width: $table_wrapper_width;
        padding: 0 20px;
        margin: 0px auto;          

        .dataTables_wrapper{  
            margin: 0 auto;
            width:100%;
            max-width: $table_width;        
            overflow-x: scroll;
            scrollbar-width: none; 
            -ms-overflow-style: none;             

            label,.paginate_button,.dataTables_info{
                font-size: 0.7em;
                font-weight: 700;
                text-transform: uppercase;
            }

            .dataTables_filter,.dataTables_length{
                margin: 20px 0;

                select,input[type=text],input[type=search]{
                    background-color: $white;
                    border: 1px solid $gray;
                }

                select{
                    padding-right: 20px;
                }
            }

            .nfl-teams-list{
                border-top: 1px solid $gray;
                border-bottom: 1px solid $gray;
                min-width: $table_width;
                margin-bottom: 20px;

                th{
                    background-color: $white;
                    border-left:0;
                    border-right: 0;
                    border-top: 0;
                    border-bottom: 1px solid $gray;
                }

                tbody{
                    tr{
                        &.odd{
                            background-color: $light-gray;
                        }
                    }

                    td{
                        background-color: rgba(255,255,255,0);
                        border-width: 0;
                    }
                }

            }

            &::-webkit-scrollbar { 
                width: 0;
                height: 0;
            }

        }
    }
}