/**
 * Constant definitions for Colors, 
 * containers widths and Screen sizes. 
 * 
 *
 * @since      1.0.0
 *
 * @package    nfl_data
 * @subpackage nfl_data/assets/css
 */

/**
 * SCSS NFL Data constat definition.
 *  
 * @since      1.0.0
 * @package    nfl_data
 * @subpackage nfl_data/assets/cs
 * @author     Adan Artola <adanartola@gmail.com>
 */

/* Colors */
$white: #fff;
$gray: #999;
$light-gray: #f9f9f9;
$wine: #ac0e28;

/* Container widths */
$table_wrapper_width: 1200px; //max-width definition for the table wrapper.
$table_width: 1060px; //max-width - padding(from parent) for the table wrapper.

/* Screen breakpoints */
$screen-xs: 300px; 
$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1024px;
$screen-xxl: 1200px;
$screen-xxl: 1440px;

